<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">We've got what you need!</h2>
                <hr class="light">
                <p class="text-faded">We provide quality repairs for less!</p>
                <a href="http://facebook.com/613iphonerepair" class="btn btn-default btn-xl">Get Started!</a>
                
            </a>
            </div>
        </div>
    </div>
</section>
