<section id="contact">
    <div class="container">
        <div class="row">
           <div class="col-lg-2 col-lg-offset-2 text-center">
                <h2 class="section-heading">Let's Get In Touch!</h2>
               <hr class="primary">
                
                <p>Ready to  get your phone fixed? Email us or message us on any of our social media platforms!</p>
            </div>
        <div class="col-lg-2 col-lg-offset-2 text-center">
            <a href="https://facebook.com/613iphonerepair">
                <i class="fa fa-facebook fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>613iphonerepair</p>
            </a>
        </div>
             
        <div class="col-lg-2 col-lg-offset-2 text-center">
            <a href="https://www.instagram.com/613.iphonerepair/">
                <i class="fa fa-instagram fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>613iphonerepair</p>
            </a>
  </div>
              <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="https://www.linkedin.com/company/613iphonerepair/">
                <i class="fa fa-linkedin fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>613iphonerepair</p>
            </a>
  </div>
            <div class="col-lg-2 col-lg-offset-2 text-center">
            <a href="mailto:{{ site.email }}">
            <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.email }}</p>
                 </a>
        </div>
            </div>

    </div>
                     <meta name="viewport" content="width=device-width, initial-scale=1">

</section>
