<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>613 iPhone Repair</h1>
            <hr>
            <p>We are a cell phone repair service in Ottawa, Ontario dedicated to ensuring your phone is returned to its original state. Message us today for inquiries or to book an appointment.</p>
            <a href="https://613iphonerepair.youcanbook.me/" class="btn btn-primary btn-xl page-scroll">Book an Appointment</a>
        </div>
    </div>
</header>
