<header>
    <head>
        <style>
            .wrapper {
  text-align: center;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
}
            </head>
        </style>
        
        
    <div class="header-content">
        <div class="header-content-inner">
            <h1>613 Phone Repair</h1>
            <hr>
            <h3><strong><font color=white> Same Service For Less!</strong></h3>
                <div class="wrapper">
               
                <a href="https://square.site/book/9A7BWT4GWMZQQ/613phonerepair-ottawa-on" class="btn btn-primary btn-xl page-scroll">Book An Appointment</a>
                 <a href="tel:3435511415" class="btn btn-primary btn-xl page-scroll">Call Us</a>
                 <a href="https://square.site/book/9A7BWT4GWMZQQ/613phonerepair-ottawa-on" class="btn btn-primary btn-xl page-scroll">Request a Quote</a>
                    </div>
                
                    </div>
    </div>
</header>
