<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>613 Phone Repair</h1>
            <hr>
            <h3><strong><font color=F05F40> Same Service For Less!</strong></h3>
          <a href="https://square.site/book/9A7BWT4GWMZQQ/613phonerepair-ottawa-on" class="btn btn-primary btn-xl page-scroll">Book An Appointment</a>
                 <a href="https://square.site/book/9A7BWT4GWMZQQ/613phonerepair-ottawa-on" class="btn btn-primary btn-xl page-scroll">Call Us</a>
                 <a href="https://square.site/book/9A7BWT4GWMZQQ/613phonerepair-ottawa-on" class="btn btn-primary btn-xl page-scroll">Request a Quote</a>
        </div>
    </div>
</header>
