<section class="no-padding" id="">
<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: sans-serif, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>

<h2>Screen Repair Prices</h2>

<table>
  <tr>
    <th>iPhone Model</th>
    <th>Estimated Repair Time</th>
    <th>Price</th>
  </tr>
  <tr>
    <td>iPhone 5,5s,5c,5se</td>
    <td>15 Minutes</td>
    <td>$50</td>
  </tr>
  <tr>
    <td>iPhone 6</td>
    <td>15 Minutes</td>
    <td>$70</td>
  </tr>
  <tr>
    <td>iPhone 6s</td>
    <td>15 Minutes</td>
    <td>$80</td>
  </tr>
  <tr>
    <td>iPhone 6 plus</td>
    <td>15 Minutes</td>
    <td>$80</td>
  </tr>
  <tr>
    <td>iPhone 6s Plus</td>
    <td>15 minutes</td>
    <td>$90</td>
  </tr>
  <tr>
    <td>iPhone 7 & 8</td>
    <td>20 minutes</td>
    <td>$100</td>
  </tr>
  <tr>
    <td>iPhone 7 Plus & 8 Plus</td>
    <td>25 minutes</td>
    <td>$120</td>
  </tr>
</table>
<p>**Please Note Pricing and timing is subjective, repair times may vary based on each device.**</p>

</body>
</html>
