<section id="quote">
    <div class="container">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

input[type=text], select, textarea {
  width: 250%
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin: 0 auto; 
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}


</style>
</head>
<body>

<h3>Quote</h3>

<div class="container">
<form action="/quote.php" method="get">
    <label for="fname">First Name</label>
    <input type="text" id="fname" name="firstname" placeholder="Your name..">

    <label for="lname">Phone model</label>
    <input type="text" id="lname" name="lastname" placeholder="Phone Model">

    <label for="country">Issue</label>
    <select id="country" name="country">
      <option value="Screen">Screen</option>
      <option value="Battery">Battery</option>
      <option value="HomeButton">Home Button</option>
       <option value="HomeButton">Other</option>
    </select>

    <label for="subject">Please specify</label>
    <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>

    <input type="submit" value="Submit">
  </form>
</div>

</body>

</section>
