<!DOCTYPE html>
<html>
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">At Your Service</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-mobile wow bounceIn text-primary"></i>
                    <h3>Fast and efficient</h3>
                    <p class="text-muted">We at 613iPhoneRepair understand that our phones have become a necessity, which is why we return your iPhone to you within half an hour. Yes you read that right, Half an hour!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-car wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Unable to make it to us?</h3>
                    <p class="text-muted">That's okay! we will come to you for a small additional fee. Upon arriving your phone will be fixed on the spot!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-shield wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3> All repairs come with a 30 Day Manufacturers warranty</h3>
                    <p class="text-muted">The warranty covers any defects and keeps you safe from any issues that may come your way!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-money wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Same Service For Less</h3>
                    <p class="text-muted">Our motto is same service for less. That's because we offer the same service as any other repair store, but for less!</p>
                </div>
                
            </div>
		<div align="center">
		<iframe width="1000" height="600" src="https://www.youtube.com/embed/Hr_6qqt53cQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>	
       </div
		</div>
        </div>
             
    </div>
</section>
