<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">At Your Service</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>Fast and efficient</h3>
                    <p class="text-muted">We at 613iPhoneRepair understand that our phones have become a necessity, which is why we return your iPhone to you within half an hour. Yes you read that right, Half an hour!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Unable to make it to us?</h3>
                    <p class="text-muted">That's okay! we will come to you for a small additional fee. Upon arriving your phone will be fixed on the spot!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3> All repairs come with a 30 Day Manufacturers warranty</h3>
                    <p class="text-muted">The warranty covers any defects and keeps you safe from any issues that may come your way!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Same Service For Less</h3>
                    <p class="text-muted">Our motto is same service for less. That's because we offer the same service as any other repair store, but for less!</p>
                </div>https://www.youtube.com/watch?v=qj4DQfYx2Hg
                
            </div>
        </div>
        </div>
             <div class="row container">
                <p> <a href="https://www.youtube.com/watch?v=YnF8cTviL7I"></a> 
                </p>

                <style>
                .video {
                position:relative;
                padding-bottom: 56.25%;
                height:0;
                overflow:hidden;
                align: middle;
                }
                .video iframe, .video object, .video embed {
                position: absolute;
                margin: auto;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 100%;
                height: 100%;
                }
                </style>

                <div class="video"><iframe src="https://www.youtube.com/watch?v=YnF8cTviL7I" frameborder="0" allow="autoplay; encrypted-media" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe></div><br>

                 
            </div>
    </div>
</section>
